.login-container {
    margin-top: 40%;
    text-align: center;
  
    h2 {
      font-weight: 600;
      margin-bottom: 8px;
    }
  
    p {
      color: #6b7280;
      margin-bottom: 24px;
    }
  }
  
  .login-btn {
    margin-top: 20px;
  }
  